/* Custom CSS Class */

// All customizations must have the suffix ".custom-css"

.custom-css {     
    /* Image profile */
    &.adjust-img-profile {
        width: 150px ;
        height: 150px;
        * {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
        }
        i {
            font-size: 5em;
            padding: 25%;
            color: gray;
        }
    }
    
    /* Navbar */
    &.navbar {
        &.fix-position {
        margin-left: 16.7%;
        }
    }
    
    /* Sidebar */
    &.full-sidebar {
        min-height: 100vh;
    }
    
    /* Container (home main) */
    &.fix-container {
        padding-top: 55px;
        padding-left: 15%;
    }

    /* Bootstrap select */
    &.bs-select {
        button {
            border: 1px solid #ced4da;
            background: white;
        }
        .dropdown-menu {
            a {
                &.dropdown-item {
                    &:hover {
                        background: #b9b9b9;
                    }
                }
            }
        }
    }

    /* Profile editor */
    &.modal-dialog {
        max-width: 800px;
    }

    /* Alerts */
    &.close-alert {
        cursor: pointer;
    }
}    
